<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>AuthLoginController</servlet-name>
        <servlet-class>Loginout_controller.AuthLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthLogoutController</servlet-name>
        <servlet-class>Loginout_controller.AuthLogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthRegisterController</servlet-name>
        <servlet-class>Loginout_controller.AuthRegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>General_Controller.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassAddController</servlet-name>
        <servlet-class>Admin_Controller.ClassAddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassEditController</servlet-name>
        <servlet-class>Admin_Controller.ClassEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassViewController</servlet-name>
        <servlet-class>Admin_Controller.ClassViewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassDeleteController</servlet-name>
        <servlet-class>Admin_Controller.ClassDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Homepage</servlet-name>
        <servlet-class>General_Controller.Homepage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileEditController</servlet-name>
        <servlet-class>General_Controller.ProfileEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamAddController</servlet-name>
        <servlet-class>Admin_Controller.ExamAddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamDeleteController</servlet-name>
        <servlet-class>Admin_Controller.ExamDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamEditController</servlet-name>
        <servlet-class>Admin_Controller.ExamEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamRegistedEditController</servlet-name>
        <servlet-class>Admin_Controller.ExamRegistedEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamRegistedViewController</servlet-name>
        <servlet-class>Admin_Controller.ExamRegistedViewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentSendEmailController</servlet-name>
        <servlet-class>Student_Controller.StudentSendEmailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentRequestController</servlet-name>
        <servlet-class>Student_Controller.StudentRequestController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthLoginController</servlet-name>
        <url-pattern>/auth/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthLogoutController</servlet-name>
        <url-pattern>/auth/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthRegisterController</servlet-name>
        <url-pattern>/auth/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/change-password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassAddController</servlet-name>
        <url-pattern>/admin/class/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassEditController</servlet-name>
        <url-pattern>/admin/class/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassViewController</servlet-name>
        <url-pattern>/admin/class</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassDeleteController</servlet-name>
        <url-pattern>/admin/class/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Homepage</servlet-name>
        <url-pattern>/homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileEditController</servlet-name>
        <url-pattern>/profile/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamAddController</servlet-name>
        <url-pattern>/admin/exam/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamDeleteController</servlet-name>
        <url-pattern>/admin/exam/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamEditController</servlet-name>
        <url-pattern>/admin/exam/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamRegistedEditController</servlet-name>
        <url-pattern>/admin/exam/registed/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamRegistedViewController</servlet-name>
        <url-pattern>/admin/exam/registed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentSendEmailController</servlet-name>
        <url-pattern>/student/email</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentRequestController</servlet-name>
        <url-pattern>/student/request</url-pattern>
    </servlet-mapping>
</web-app>
